<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>People Places Things</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <p><a href="/all_people">All people</a></p>
    <p><a href="/all_places">All places</a></p>
  </body>
</html>
